@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


 .banner {
     background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(../images/banner.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-repeat: no-repeat;
     height: 600px;
     padding-top: 60px;
     border-bottom: 1px solid #33A8DB80;

} 

body {
     background-color: black;
 }

.banner .banner-content{
     color: white;
     width: 600px;
     margin: auto;
     text-align: center;
 }

h1{
     font-family: 'Raleway', Arial, Helvetica, sans-serif;
     line-height: 46.96px;
     font-size: 40px;
     font-weight: 900;
     background: linear-gradient( to bottom, rgba(51, 168, 219, 1), rgba(20, 114, 183, 1) );
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.banner p{
     font-size: 1.25rem;
     margin: 16px 0 24px;
     max-width: 600px;
}

 p{
     color: white;
     text-align: center;
    
}

*{
     font-family: 'Raleway', sans-serif;
     box-sizing: border-box;
}

p {
     display: block;
     margin-block-start: 1em;
     margin-block-end: 1em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
     unicode-bidi: isolate;
 }



.banner .banner-content button{
     color:rgba(20, 114, 183, 1);
     border-image: linear-gradient(#3BA1CD, #1572B7);
     font-family: 'Raleway', Arial;
     font-weight: bold;
     padding: 16px 32px;
     font-size: 1rem;
     letter-spacing: 4px;
     text-transform: uppercase;
     background-color: transparent;
     border-image-slice: 10;
     border-radius: 30px;
     
}

 h2{
     color:rgba(20, 114, 183, 1);
     border-image: linear-gradient(#3BA1CD, #1572B7);
     font-family: 'Raleway', Arial;
     font-weight: bold;
     padding: 16px 32px;
     font-size: 2rem;
     letter-spacing: 4px;
     text-transform: uppercase;
     background-color: transparent;
     border-image-slice: 10;
     border-radius: 30px;
     text-align: center;
}


#course-content{
     width: 900px;
     text-align: center;
 }

#course-content p{
     padding-bottom: -8px;
     padding-bottom: 8px;
}

 *{
     box-sizing: border-box;
 }

section{
     margin: 100px auto;
}

#course-content .modules-list .module{
     color: white;
     width: 531px;
     margin: 0 auto 24px;
     background-color: #252525;
     border: 1px solid  #1572B7;
     padding: 16px;
     border-radius:100px;
     box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}

#course-content .modules-list .module span{
     color: #1572B7;
}

#transform-world{
     height: 560px;
     background-size: cover;
     background-image: url(images/woman-code.png);
     background-attachment: fixed;
     border-top: 1px solid #33A8DB80;
     border-bottom: 1px solid #33A8DB80;
     padding: 200px;
}

#transform-world p{
     font-weight: 900;
     font-size: 2.5rem;
     text-transform: lowercase;
     max-width: 250px;
     text-shadow: 3px 2px #33A8DB;
}


#professional-challenges{
     text-align: center;
     width: 800px;

}

#professional-challenges h2{
     color: #33A8DB;
}

footer{
     padding: 60px 0;
     border-top: 1px solid #33A8DB80;
     text-align: center;
     background-image: linear-gradient(rgba(51, 168, 219, 0), rgba(50, 168, 219, .2));
}